backend/n8n-email-workflow.json
{
  "name": "Email Verification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-verification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "operation": "equal",
              "value2": "email-verification"
            }
          ]
        }
      },
      "id": "if-verification",
      "name": "If Verification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "operation": "equal",
              "value2": "welcome"
            }
          ]
        }
      },
      "id": "if-welcome",
      "name": "If Welcome",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "fromEmail": "noreply@bysales.com",
        "toEmail": "={{$json.to}}",
        "subject": "Confirme seu email - By Sales",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Confirme seu email</title></head><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\"><h1 style=\"color: white; margin: 0;\">By Sales</h1><p style=\"color: white; margin: 10px 0 0 0;\">E-commerce Platform</p></div><div style=\"background: white; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><h2 style=\"color: #333; margin-top: 0;\">Olá, {{$json.name}}!</h2><p style=\"color: #666; line-height: 1.6;\">Obrigado por se cadastrar na By Sales! Para completar seu cadastro, clique no botão abaixo para confirmar seu email:</p><div style=\"text-align: center; margin: 30px 0;\"><a href=\"{{$json.verificationUrl}}\" style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; font-weight: bold;\">Confirmar Email</a></div><p style=\"color: #999; font-size: 14px;\">Se você não conseguir clicar no botão, copie e cole este link no seu navegador:<br><a href=\"{{$json.verificationUrl}}\">{{$json.verificationUrl}}</a></p><hr style=\"border: none; border-top: 1px solid #eee; margin: 30px 0;\"><p style=\"color: #999; font-size: 12px; text-align: center;\">Este email foi enviado automaticamente. Por favor, não responda.</p></div></body></html>",
        "options": {}
      },
      "id": "send-verification-email",
      "name": "Send Verification Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@bysales.com",
        "toEmail": "={{$json.to}}",
        "subject": "Bem-vindo à By Sales!",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Bem-vindo</title></head><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; border-radius: 10px 10px 0 0;\"><h1 style=\"color: white; margin: 0;\">By Sales</h1><p style=\"color: white; margin: 10px 0 0 0;\">E-commerce Platform</p></div><div style=\"background: white; padding: 30px; border-radius: 0 0 10px 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\"><h2 style=\"color: #333; margin-top: 0;\">Bem-vindo, {{$json.name}}!</h2><p style=\"color: #666; line-height: 1.6;\">Seu email foi confirmado com sucesso! Agora você pode aproveitar todas as funcionalidades da nossa plataforma:</p><ul style=\"color: #666; line-height: 1.8;\"><li>🛍️ Navegar por nosso catálogo de produtos</li><li>🛒 Adicionar itens ao carrinho</li><li>💳 Finalizar compras com segurança</li><li>📦 Acompanhar seus pedidos</li></ul><div style=\"text-align: center; margin: 30px 0;\"><a href=\"http://localhost:5173\" style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; font-weight: bold;\">Começar a Comprar</a></div><hr style=\"border: none; border-top: 1px solid #eee; margin: 30px 0;\"><p style=\"color: #999; font-size: 12px; text-align: center;\">Obrigado por escolher a By Sales!</p></div></body></html>",
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"message\": \"Email sent successfully\" }"
      },
      "id": "response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Verification": {
      "main": [
        [
          {
            "node": "Send Verification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Welcome": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Verification Email": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}